In [3]:
import pandas as pd
import os

In [4]:
from pathlib import Path

base_dir = str(Path().absolute())
base_dir

'/Users/rchang/WAT-ai/wildfire'

In [5]:
path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2020-2022"
directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)
        # df.set_index("YEAR", inplace=True)
        
        df.rename(columns={"IGNITION DATE": "IGNITION_DATE", "Name": "NAME", "GEOGRAPHIC": "LOCATION"}, inplace=True)
        df.drop(["X","Y","FIRE_OF_NOTE_IND", "Fire Number", "RESPONSE_TYPE_DESC", "INCIDENT_NAME", "Field_1", "IGNITION_DATE", "NAME","LOCATION"], axis=1, inplace=True)
        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2020_2022 = pd.concat(dfs)
# df_2020_2022.to_csv("test.csv")
df_2020_2022

BC_Fire_Point_2022.csv
BC_Fire_Point_2021.csv
BC_Fire_Point_2020.csv

    FIRE_SIZE_HA   LATITUDE    LONGITUDE    YEAR
0           0.09     52.623  -121.019467  2022.0
1         4683.0    51.0147  -122.375417  2022.0
2          0.009  49.543983  -118.872217  2022.0
3            0.1  50.472167  -120.567867  2022.0
4          167.0  49.221417    -121.4897  2022.0
..           ...        ...          ...     ...
665        0.009  50.486332  -119.873467  2020.0
666          0.3  51.989067  -123.149132  2020.0
667        0.009  54.056183  -122.561249  2020.0
668        0.009   54.01205  -125.049083  2020.0
669        0.015  49.666084  -116.925919  2020.0

[4119 rows x 4 columns]

In [7]:
path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2019-2021"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"WILDFIRE_YEAR": "YEAR", "GEOGRAPHIC_DESCRIPTION": "LOCATION"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","INCIDENT_NUMBER_LABEL","IGNITION_DATE","LOCATION"], axis=1, inplace=True)
        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2019_2021 = pd.concat(dfs)
# df_2019_2021.to_csv("test.csv")
df_2019_2021

BC_Fire_Point_2021.csv
BC_Fire_Point_2020.csv
BC_Fire_Point_2019.csv

     YEAR  FIRE_SIZE_HA     LATITUDE   LONGITUDE
0    2021         0.400     49.33835 -119.503183
1    2021         4.500    50.866867 -120.223450
2    2021         0.933    50.074267 -120.770600
3    2021         4.300      51.8617 -120.857400
4    2021         0.600    54.074667 -122.443967
..    ...           ...          ...         ...
820  2019         0.700       54.097 -124.924033
821  2019         0.600  50.41438333 -117.896250
822  2019         0.009  49.18558333 -118.610700
823  2019         0.060     49.78655 -115.730750
824  2019         0.100   50.4269676 -122.944550

[3143 rows x 4 columns]

In [8]:
path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2018-2020"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"WILDFIRE_YEAR": "YEAR", "GEOGRAPHIC_DESCRIPTION": "LOCATION"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","INCIDENT_NUMBER_LABEL","IGNITION_DATE","LOCATION"], axis=1, inplace=True)
        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2018_2020 = pd.concat(dfs)
# df_2018_2020.to_csv("test.csv")
df_2018_2020

BC_Fire_Point_2020.csv
BC_Fire_Point_2018.csv
BC_Fire_Point_2019.csv

     YEAR  FIRE_SIZE_HA     LATITUDE   LONGITUDE
0    2020         0.009   48.9159164 -124.358284
1    2020         0.009   49.9622002 -123.299332
2    2020         1.900  50.09916667 -121.531600
3    2020         0.100     49.20895 -118.935120
4    2020         0.100   49.3576012 -124.509033
..    ...           ...          ...         ...
820  2019         0.700       54.097 -124.924033
821  2019         0.600  50.41438333 -117.896250
822  2019         0.009  49.18558333 -118.610700
823  2019         0.060     49.78655 -115.730750
824  2019         0.100   50.4269676 -122.944550

[3605 rows x 4 columns]

In [10]:
path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2017-2019"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"FIRE_YEAR": "YEAR", "GEOGRAPHIC_DESCRIPTION": "LOCATION", "CURRENT_SIZE":"FIRE_SIZE_HA"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","Field_1","FIRE_NUMBER","IGNITION_DATE","LOCATION"], axis=1, inplace=True)
        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2017_2019 = pd.concat(dfs)
# df_2017_2019.to_csv("test.csv")
df_2017_2019

BC_Fire_Point_2017.csv
BC_Fire_Point_2018.csv
BC_Fire_Point_2019.csv

      FIRE_SIZE_HA  YEAR LATITUDE  LONGITUDE
0          903.100  2017  49.0044  -114.4116
1            0.000  2017  49.0681  -114.3004
2        15448.800  2017  49.0597  -114.3025
3            0.090  2017  49.0941  -114.8499
4            0.009  2017  49.1165  -114.8324
...            ...   ...      ...        ...
1864         0.009  2019  50.7122  -127.3834
1866         0.009  2019   49.286  -126.0737
1868         0.009  2019   49.346  -125.4045
1869         0.009  2019  49.3429  -125.4014
1870         0.000  2019  49.3563  -125.3914

[7222 rows x 4 columns]

In [11]:
path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2015-2017"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"FIREYEAR": "YEAR", "CURRENTSIZE":"FIRE_SIZE_HA"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","Field_1","FIRENUMBER","CAUSE GENERAL","FIRETYPE"], axis=1, inplace=True)
        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2015_2017 = pd.concat(dfs)
# df_2015_2017.to_csv("test.csv")
df_2015_2017

BC_Fire_Points_2017.csv
BC_Fire_Points_2016.csv
BC_Fire_Points_2015.csv

      FIRE_SIZE_HA  YEAR   LATITUDE   LONGITUDE
0            0.009  2017  49.503448 -121.200600
1            0.009  2017  49.859333 -124.256683
2            0.100  2017  48.612133 -123.524750
3           18.700  2017  48.405899 -123.950981
4            0.009  2017  49.102798 -124.034668
...            ...   ...        ...         ...
1853         0.200  2015  53.047199 -122.450066
1854        38.200  2015  52.017582 -122.491402
1855         0.200  2015  52.423866 -121.091766
1856         7.000  2015  51.397018 -121.873100
1857         0.009  2015  51.228500 -120.976631

[4266 rows x 4 columns]

In [12]:
path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2013-2015"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"FIREYEAR": "YEAR", "CURRENTSIZE":"FIRE_SIZE_HA"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","Field_1","FIRENUMBER","CAUSE_GENERAL_KMZ","FIRETYPE"], axis=1, inplace=True)
        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2013_2015 = pd.concat(dfs)
# df_2013_2015.to_csv("test.csv")
df_2013_2015

BC_Fire_Points_2014.csv
BC_Fire_Points_2015.csv
BC_Fire_Points_2013.csv

      FIRE_SIZE_HA  YEAR   LATITUDE   LONGITUDE
0            0.009  2014  49.377018 -123.142685
1            0.300  2014  50.046516 -121.541000
2            0.500  2014  49.315784 -121.874649
3            0.009  2014  49.964065 -121.504700
4            0.009  2014  49.106400 -121.648552
...            ...   ...        ...         ...
1856         0.009  2013  52.318668 -124.032333
1857         0.400  2013  51.990002 -124.916664
1858         0.009  2013  51.401749 -124.947815
1859         0.009  2013  51.991219 -123.147201
1860         5.000  2013  52.437134 -125.394318

[5185 rows x 4 columns]

In [14]:
df_total = pd.concat([df_2020_2022, df_2019_2021, df_2018_2020, df_2017_2019, df_2015_2017, df_2013_2015])
df_total.sort_values(by="YEAR", inplace=True)

res = df_total.loc[df_total["YEAR"] >= 2013] 
res.set_index("YEAR", inplace=True)

res.to_csv("data/satellite-burn/satellite_burn.csv")
res

       FIRE_SIZE_HA   LATITUDE   LONGITUDE
YEAR
2013.0        0.009  54.572151   -124.5215
2013.0          2.4   54.59695 -124.596901
2013.0          2.5  54.597515 -125.080101
2013.0          6.1  54.567017 -124.495781
2013.0          0.2  54.655117 -124.710854
...             ...        ...         ...
2022.0        0.009    51.8735   -118.6226
2022.0          0.2  54.098283   -122.9378
2022.0        0.001  49.886617   -115.8558
2022.0        0.009  49.644467  -120.52545
2022.0         0.09     52.623 -121.019467

[27521 rows x 3 columns]