In [1]:
import pandas as pd
import os

In [3]:
path = "../data/raw/satellite-burn/BC_Fire_Points_2020-2022"
directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)
        # df.set_index("YEAR", inplace=True)
        
        df.rename(columns={"IGNITION DATE": "IGNITION_DATE", "Name": "NAME", "GEOGRAPHIC": "LOCATION"}, inplace=True)
        df.drop(["X","Y","FIRE_OF_NOTE_IND", "Fire Number", "RESPONSE_TYPE_DESC", "INCIDENT_NAME", "Field_1", "NAME","LOCATION","YEAR"], axis=1, inplace=True)
        
        # Convert the 'time_column' to datetime, errors='coerce' handles parsing errors gracefully
        df['IGNITION_DATE'] = pd.to_datetime(df['IGNITION_DATE'], errors='coerce')
        # Extract only the date (day) from the datetime column
        df['IGNITION_DATE'] = df['IGNITION_DATE'].dt.strftime('%Y/%m/%d')
        
        # drop bad fields
        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2020_2022 = pd.concat(dfs)
# df_2020_2022.to_csv("test.csv")
df_2020_2022

BC_Fire_Point_2022.csv
BC_Fire_Point_2021.csv
BC_Fire_Point_2020.csv

/var/folders/tm/z4k4c6mj2xg8ykpjg4vcbdmm0000gn/T/ipykernel_84627/2504204267.py:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['IGNITION_DATE'] = pd.to_datetime(df['IGNITION_DATE'], errors='coerce')

    FIRE_SIZE_HA IGNITION_DATE   LATITUDE    LONGITUDE
0           0.09    2022/07/17     52.623  -121.019467
1         4683.0    2022/08/24    51.0147  -122.375417
2          0.009    2022/08/23  49.543983  -118.872217
3            0.1    2022/08/12  50.472167  -120.567867
4          167.0    2022/08/23  49.221417    -121.4897
..           ...           ...        ...          ...
664        0.009    2020/07/31     49.766  -120.638333
665        0.009    2020/05/17  50.486332  -119.873467
667        0.009    2020/04/22  54.056183  -122.561249
668        0.009    2020/09/11   54.01205  -125.049083
669        0.015    2020/08/22  49.666084  -116.925919

[4080 rows x 4 columns]

In [5]:
path = "../data/raw/satellite-burn/BC_Fire_Points_2019-2021"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"WILDFIRE_YEAR": "YEAR", "GEOGRAPHIC_DESCRIPTION": "LOCATION"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","INCIDENT_NUMBER_LABEL", "LOCATION", "YEAR"], axis=1, inplace=True)

        # Convert the 'time_column' to datetime, errors='coerce' handles parsing errors gracefully
        df['IGNITION_DATE'] = pd.to_datetime(df['IGNITION_DATE'], errors='coerce')
        # Extract only the date (day) from the datetime column
        df['IGNITION_DATE'] = df['IGNITION_DATE'].dt.strftime('%Y/%m/%d')

        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2019_2021 = pd.concat(dfs)
# df_2019_2021.to_csv("test.csv")
df_2019_2021

BC_Fire_Point_2021.csv
BC_Fire_Point_2020.csv
BC_Fire_Point_2019.csv

    IGNITION_DATE  FIRE_SIZE_HA     LATITUDE   LONGITUDE
0      2021/04/16         0.400     49.33835 -119.503183
1      2021/04/16         4.500    50.866867 -120.223450
2      2021/04/17         0.933    50.074267 -120.770600
3      2021/04/17         4.300      51.8617 -120.857400
4      2021/04/18         0.600    54.074667 -122.443967
..            ...           ...          ...         ...
820    2019/04/01         0.700       54.097 -124.924033
821    2019/08/22         0.600  50.41438333 -117.896250
822    2019/07/24         0.009  49.18558333 -118.610700
823    2019/04/29         0.060     49.78655 -115.730750
824    2019/10/27         0.100   50.4269676 -122.944550

[3143 rows x 4 columns]

In [6]:
path = "../data/raw/satellite-burn/BC_Fire_Points_2018-2020"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"WILDFIRE_YEAR": "YEAR", "GEOGRAPHIC_DESCRIPTION": "LOCATION"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","INCIDENT_NUMBER_LABEL","YEAR","LOCATION"], axis=1, inplace=True)

        # Convert the 'time_column' to datetime, errors='coerce' handles parsing errors gracefully
        df['IGNITION_DATE'] = pd.to_datetime(df['IGNITION_DATE'], errors='coerce')
        # Extract only the date (day) from the datetime column
        df['IGNITION_DATE'] = df['IGNITION_DATE'].dt.strftime('%Y/%m/%d')

        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2018_2020 = pd.concat(dfs)
# df_2018_2020.to_csv("test.csv")
df_2018_2020

BC_Fire_Point_2020.csv
BC_Fire_Point_2018.csv
BC_Fire_Point_2019.csv

    IGNITION_DATE  FIRE_SIZE_HA     LATITUDE   LONGITUDE
0      2020/06/14         0.009   48.9159164 -124.358284
1      2020/06/19         0.009   49.9622002 -123.299332
2      2020/06/27         1.900  50.09916667 -121.531600
3      2020/04/09         0.100     49.20895 -118.935120
4      2020/05/08         0.100   49.3576012 -124.509033
..            ...           ...          ...         ...
820    2019/04/01         0.700       54.097 -124.924033
821    2019/08/22         0.600  50.41438333 -117.896250
822    2019/07/24         0.009  49.18558333 -118.610700
823    2019/04/29         0.060     49.78655 -115.730750
824    2019/10/27         0.100   50.4269676 -122.944550

[3605 rows x 4 columns]

In [7]:
path = "../data/raw/satellite-burn/BC_Fire_Points_2017-2019"

directory = os.fsencode(path)
directory

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename)
        df = pd.read_csv(path + "/" + filename)

        df.rename(columns={"FIRE_YEAR": "YEAR", "GEOGRAPHIC_DESCRIPTION": "LOCATION", "CURRENT_SIZE":"FIRE_SIZE_HA"}, inplace=True)
        # df.set_index("YEAR", inplace=True)

        df.drop(["X","Y","Name","Field_1","FIRE_NUMBER","YEAR","LOCATION"], axis=1, inplace=True)

        # Convert the 'time_column' to datetime, errors='coerce' handles parsing errors gracefully
        df['IGNITION_DATE'] = pd.to_datetime(df['IGNITION_DATE'], errors='coerce')
        # Extract only the date (day) from the datetime column
        df['IGNITION_DATE'] = df['IGNITION_DATE'].dt.strftime('%Y/%m/%d')

        df.dropna(inplace=True)

        dfs.append(df)
        continue
    else:
        continue

df_2017_2019 = pd.concat(dfs)
# df_2017_2019.to_csv("test.csv")
df_2017_2019

BC_Fire_Point_2017.csv
BC_Fire_Point_2018.csv
BC_Fire_Point_2019.csv

      FIRE_SIZE_HA IGNITION_DATE LATITUDE  LONGITUDE
0          903.100    2017/08/31  49.0044  -114.4116
1            0.000    2017/08/31  49.0681  -114.3004
2        15448.800    2017/08/30  49.0597  -114.3025
3            0.090    2017/08/30  49.0941  -114.8499
4            0.009    2017/08/30  49.1165  -114.8324
...            ...           ...      ...        ...
1864         0.009    2019/08/10  50.7122  -127.3834
1866         0.009    2019/10/30   49.286  -126.0737
1868         0.009    2019/06/26   49.346  -125.4045
1869         0.009    2019/06/26  49.3429  -125.4014
1870         0.000    2019/07/01  49.3563  -125.3914

[7114 rows x 4 columns]

In [8]:
## IGNORE, ONLY HAS YEAR

# path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2015-2017"

# directory = os.fsencode(path)
# directory

# dfs = []

# for file in os.listdir(directory):
#     filename = os.fsdecode(file)
#     if filename.endswith(".csv"):
#         print(filename)
#         df = pd.read_csv(path + "/" + filename)

#         df.rename(columns={"FIREYEAR": "YEAR", "CURRENTSIZE":"FIRE_SIZE_HA"}, inplace=True)
#         # df.set_index("YEAR", inplace=True)

#         df.drop(["X","Y","Name","Field_1","FIRENUMBER","CAUSE GENERAL","FIRETYPE"], axis=1, inplace=True)
#         df.dropna(inplace=True)

#         dfs.append(df)
#         continue
#     else:
#         continue

# df_2015_2017 = pd.concat(dfs)
# # df_2015_2017.to_csv("test.csv")
# df_2015_2017

In [9]:
## IGNORE, ONLY HAS YEAR

# path = base_dir + "/data/satellite-burn/raw/BC_Fire_Points_2013-2015"

# directory = os.fsencode(path)
# directory

# dfs = []

# for file in os.listdir(directory):
#     filename = os.fsdecode(file)
#     if filename.endswith(".csv"):
#         print(filename)
#         df = pd.read_csv(path + "/" + filename)

#         df.rename(columns={"FIREYEAR": "YEAR", "CURRENTSIZE":"FIRE_SIZE_HA"}, inplace=True)
#         # df.set_index("YEAR", inplace=True)

#         df.drop(["X","Y","Name","Field_1","FIRENUMBER","CAUSE_GENERAL_KMZ","FIRETYPE"], axis=1, inplace=True)
#         df.dropna(inplace=True)

#         dfs.append(df)
#         continue
#     else:
#         continue

# df_2013_2015 = pd.concat(dfs)
# # df_2013_2015.to_csv("test.csv")
# df_2013_2015

In [8]:
# Combine all the years into one data frame

df_total = pd.concat([df_2020_2022, df_2019_2021, df_2018_2020, df_2017_2019])
df_total.sort_values(by="IGNITION_DATE", inplace=True)

res = df_total[df_total['IGNITION_DATE'] >= '2017/01/01'] # only look at 2017 and onwards
res.set_index("IGNITION_DATE", inplace=True)

res.to_csv("../data/processing/satellite-burn/satellite_burn.csv")
res

              FIRE_SIZE_HA   LATITUDE   LONGITUDE
IGNITION_DATE
2017/01/01           0.009    49.1217   -115.9226
2017/01/01           0.009    51.6025   -122.2677
2017/02/10           0.009    50.8894   -119.3201
2017/03/01           0.009     52.187   -121.9566
2017/03/13            0.75    49.1705   -116.5328
...                    ...        ...         ...
2023/03/29             1.0   50.28395 -121.141667
2023/03/30            14.6   49.37295 -121.644367
2023/03/30            65.0  50.432917 -120.314867
2023/03/30             0.0  50.140783 -120.843633
2023/03/30            0.98    51.6232  -119.94185

[17933 rows x 3 columns]

In [9]:
# clean satellite burn data
from pathlib import Path

satellite_burn_data_dir = "../data/processing/satellite-burn"

import pandas as pd
import re

def extract_year_if_date(value):
    """
    Extracts and returns the year from a date string, if the value is in the format YYYY/MM/DD.
    Returns the original value if it's numeric, or None if it's non-numeric and not a date.
    """
    if isinstance(value, str):
        # Check if the value is a date in the format YYYY/MM/DD
        if re.match(r'\d{4}/\d{2}/\d{2}', value):
            # Extract and return the year
            return int(value.split('/')[0])
        # Check if the value is non-numeric
        elif not value.replace('.', '', 1).isdigit():
            return None
    return value

def process_csv(file_path):
    """
    Processes the CSV file: extracts year from dates in "LATITUDE",
    and removes rows with non-numeric "LATITUDE" or "LONGITUDE".
    """
    try:
        # Load the CSV file
        data = pd.read_csv(file_path)

        # Process the LATITUDE and LONGITUDE columns
        data['LATITUDE'] = data['LATITUDE'].apply(extract_year_if_date)
        data['LONGITUDE'] = data['LONGITUDE'].apply(extract_year_if_date)

        # Drop rows with None in either LATITUDE or LONGITUDE
        data.dropna(subset=['LATITUDE', 'LONGITUDE'], inplace=True)

        # Save the cleaned data to a new CSV file
        cleaned_file_path = file_path.replace('.csv', '_cleaned.csv')
        data.to_csv(cleaned_file_path, index=False)
        print(f"Cleaned file saved to: {cleaned_file_path}")

    except Exception as e:
        print(f"An error occurred: {e}")

# Replace with your file path
file_path = satellite_burn_data_dir + "/satellite_burn.csv"
process_csv(file_path)

Cleaned file saved to: ../data/processing/satellite-burn/satellite_burn_cleaned-test.csv