In [1]:
import pandas as pd

burn_path = '../data/prepared/quarterly-6-by-6/satellite-burn/group_' + str(1) + '.csv'

burn = pd.read_csv(burn_path)
burn

    0.00
0   0.00
1   0.00
2   0.00
3   0.00
4   0.00
5   0.00
6   0.00
7   0.00
8   0.00
9   0.00
10  0.00
11  0.00
12  0.00
13  0.00
14  0.00
15  0.00
16  0.00
17  0.00
18  0.00
19  0.00
20  0.00
21  0.00
22  0.00
23  0.00
24  0.00
25  0.00
26  0.00
27  0.00
28  0.00
29  0.00
30  0.00
31  0.01
32  0.00
33  0.00
34  0.00

In [2]:
import numpy as np
y = np.genfromtxt(burn_path, delimiter=',')
y

array([0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.01,
       0.  , 0.  , 0.  ])

In [3]:
len(y)

36

In [7]:
weather_path = '../data/prepared/quarterly-6-by-6/weather/group_' + str(2) + '.csv'
weather = pd.read_csv(weather_path)
len(weather.values)

36

In [8]:
import pickle
file_name = "../models/2024-02-24_20-39-30_time-step-quarterly_fine-areas-36.pkl"
model = pickle.load(open(file_name, "rb"))
predictions = model.predict(weather.values)
predictions

array([ 5.8270884e-01,  6.4997303e-01,  5.7193983e-01,  6.4997303e-01,
        5.7193983e-01,  6.4580482e+01,  5.7651365e-01,  5.8284622e-01,
        5.7193983e-01,  5.7207721e-01,  5.6955820e-01,  6.4580482e+01,
        6.9218405e-02,  1.9641106e-01,  5.7193983e-01,  5.7193983e-01,
        5.7193983e-01,  5.7193983e-01,  6.4580482e+01,  5.8270884e-01,
        5.8270884e-01,  5.7193983e-01,  5.7193983e-01,  5.7193983e-01,
        5.7193983e-01,  5.7193983e-01,  5.7193983e-01,  5.7193983e-01,
       -1.0275443e-02,  6.6498804e-01,  5.7207721e-01,  6.4997303e-01,
        5.7193983e-01,  5.7193983e-01,  5.7193983e-01,  5.7404560e-01],
      dtype=float32)

In [18]:
np.savetxt("foo.csv", predictions, delimiter="\n", fmt='%.2f')